{% from theme("security/_macros.html") import render_field_with_errors, render_field, render_button %}
{% extends theme("base.html") %}

{% block content %}
<main>
    <div class="demo-blog__posts mdl-grid">
        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__media mdl-color-text--grey-50">
                <h3><img src="{{ theme_static('img/logo.png') }}"/> Admin - Register</h3>
            </div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
            {% if register_user_form.errors %}
                {% for field, error in register_user_form.errors.items() %}
                <p class="form-error">{{ error[0] }}</p>
                {% endfor %}
            {% endif %}
            </div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
                  {{ register_user_form.hidden_tag() }}
                  {{ render_field(register_user_form.email, class="mdl-textfield__input") }}
                  <br/>
                  {{ render_field(register_user_form.password, class="mdl-textfield__input") }}
                    <br/>
                  {% if register_user_form.password_confirm %}
                    {{ render_field(register_user_form.password_confirm, class="mdl-textfield__input") }}
                    <br/>
                  {% endif %}
                  <br/>
                  <br/>
                  <br/>
                  {{ render_button(register_user_form.submit, class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect") }}
                </form>
            </div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
            {% include theme("security/_menu.html") %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
