{% from theme("security/_macros.html") import render_field %}
{% if not request.is_xhr %}
<link rel="stylesheet" href="{{theme_static('css/material.min.css')}}">
<link rel="stylesheet" href="{{theme_static('css/styles.css')}}">
{% endif %}
<!-- A wrapper for all the comments -->
<div class="material-comments">
  {% if not Config.get('comments', 'requires_login') or current_user.is_authenticated() %}
    <form role="form" action="{{url_for('comments.comment', path=path)}}" method="post" id="comment-form">
        {% for field in form %}
            {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
            {{ field() }}
            {% endif %}
        {% endfor %}

        {% if current_user.is_authenticated() %}
          <label for="author_name" >Name</label>
          {{form.author_name(value=current_user.name, type="hidden")}}
          {{current_user.name}}
        {% else %}
          {{render_field(form.author_name, class="mdl-textfield__input", required="required")}}
        {% endif %}
        <br/>
        {% if current_user.is_authenticated() %}
            <label for="author_email">Email</label>
            {form.author_email(value=current_user.email, type="hidden")}}
            {{current_user.email}}
        {% else %}
             {{render_field(form.author_email, class="mdl-textfield__input", required="required")}}
        {% endif %}
        <br/>
        {{render_field(form.body, class="mdl-textfield__input", rows="3", columns="90")}}
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="submit" name="submit" type="submit" value="Send">
    </form>
    {% else %}
    <a href="{{url_for_security('login', next='/{0}.html'.format(path))}}" style="margin-bottom:10px;" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">Login to add a comment</a>
    {% endif %}

    {% if request.method == "POST" and not current_user.is_authenticated() %}
    <span class="alert alert-info">Thanks, your comment will be moderated!</span>
    {% endif %}
    <br/>

    {% for comment in comments %}
    <div class="comment mdl-color-text--grey-700">
        <header class="comment__header">
            {% if comment.gravatar_email %}
            <img src="{{ comment.gravatar_email | gravatar(size=64) }}" class="comment__avatar">
            {% endif %}
            <div class="comment__author">
                <strong>{{ comment.author_name }}</strong>
                <span>{{ comment.created_at.strftime('%d/%m/%Y %H:%i') }}</span>
            </div>
        </header>
        <div class="comment__text">
            {{comment.body|urlize|markdown}}
        </div>
        {% for reply in comment.replies.filter(parent='') %}
        <div class="comment__answers">
            <div class="comment">
                <header class="comment__header">
                    {% if comment.gravatar_email %}
                    <img src="{{ reply.gravatar_email | gravatar(size=64 )}}" class="comment__avatar">
                    {% endif %}
                    <div class="comment__author">
                        <strong>{{ reply.author_name }}</strong>
                        <span>{{ reply.created_at.strftime("%m/%d/%Y %H:%M") }}</span>
                    </div>
                </header>
                <div class="comment__text">
                    {{ reply.body|urlize|markdown }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
