{% from theme('_helpers.html') import render_list_item with context %}
{% extends theme("base.html") %}

{%block title%} Tag search | {{Config.get('site', 'site_name', 'Quokka site')}} {% endblock %}

{% block seo_meta %}
<meta name="description" content="Tag Search">
<meta name="keywords" content="{{request.view_args.tag}}">
<link rel="alternate" type="application/atom+xml" title="Tagged posts (Atom 0.3)" href="{{url_for('atom_tag', tag=request.view_args.tag)}}">
{% endblock %}

{% block content %}
<main class="mdl-layout__content">
    <div class="demo-blog__posts mdl-grid">
        <div class="mdl-card something-else mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop">
            <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
                <img src="{{theme_static('img/logo_black.png')}}">
                {{Config.get('site', 'site_tagline', '<b>The Happiest CMS in the World!</b>')|safe}}
                <h3>Contents with the tag "{{request.view_args.tag}}"</h3>
            </div>
        </div>
        <!-- POSTS -->
        {% for content in contents.items %}
            {{render_list_item(content, css="mdl-cell--12-col")}}
        {% endfor %}

    </div>
    <!-- Footer -->
    {% include theme('footer.html') %}
</main>
{% endblock %}
