{% macro link_to(text, endpoint) -%}
<a href="{{ url_for(endpoint, **kwargs) }}">{{ text }}</a>
{%- endmacro %}

{% macro render_author_avatar(author, size=44, css="minilogo") %}
<div class="{{css}}" style="background-image: url('{{ author.get_gravatar_email() | gravatar(size=size) }}')"></div>
{% endmacro %}


{% macro get_title(content) %}
  {% with main_image=content.get_main_image_url(thumb=False, default=None) %}
     {% if main_image %}
       <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url('{{main_image}}')">
         <h3><a href="{{ content.get_absolute_url() }}">{{content.title}}</a></h3>
      </div>
     {% else %}
       <div class="mdl-card__media mdl-color-text--grey-50" style="background-image:none;background-color: #263238;">
         <h3 class="quote"><a href="{{ content.get_absolute_url() }}">{{content.title}}</a></h3>
      </div>
     {% endif %}
  {% endwith %}
{% endmacro%}

{% macro render_list_item(content, css="") %}
<div class="mdl-card mdl-cell {{css}}" >
    {{get_title(content)}}
    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
    {{content.get_summary()|truncate(255)|safe()}}
    </div>
    <div class="mdl-card__supporting-text meta">
    {%if Config.get('site', 'list_avatar_enabled', default="enabled") == "enabled" %}
      {%if content.has_multiple_authors %}
        {% for author in content.get_authors()|sort(attribute="display_name") %}
          {{render_author_avatar(author, size=144 / content.get_authors()|length)}}
        {% endfor %}
      {%else%}
        {% if content.created_by.email %}
          {{render_author_avatar(content.created_by)}}
        {% endif %}
      {%endif%}
    {% endif %}
    <div class="author">
        <strong>
            {% for author in content.get_authors()%}
            <a href="{{url_for('authors.author', author_id=author.username)}}">{{ author.display_name }}</a>{% if not loop.last %} &middot; {% endif %}
            {%endfor%}
        </strong>
        <span><a href="{{ content.channel.get_absolute_url() }}">{{ content.channel.title }}</a> &middot; {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}</span>
    </div>
    </div>
</div>
{% endmacro %}

{% macro render_list(contents) %}
   {% for content in contents %}
       {{render_list_item(content, css="mdl-cell--8-col" if loop.first else "mdl-cell--12-col")}}
   {% endfor %}
{% endmacro %}


{# --- Content areas ----- #}
{% macro load_share_area(content) %}
<!-- Facebook sharing -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId={{ Config.get('site', 'facebook_app_id', '') }}&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-share-button" data-href="{{ content.get_http_url() }}" data-type="button_count"></div>

<!-- Google+ sharing -->
<div class="g-plus alinhar" data-action="share" data-annotation="bubble" data-href="{{ content.get_http_url() }}"></div>

<!-- Twitter sharing -->
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt" style="margin-bottom: -4px !important;">Tweetar</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endmacro %}

{% macro render_license_area(content) %}
{% if content.license.title %}
  {% if content.license.identifier == 'creative_commons_by_nc_nd' %}
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
    <img alt="Licença Creative Commons"
         style="border-width:0"
         src="http://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"/></a><br/>
         <a xmlns:dct="http://purl.org/dc/terms/" property="dct:title"
      href="{{content.get_absolute_url()}}">"{{ content.title }}"</a> by <a
      xmlns:cc="http://creativecommons.org/ns#" href="{{url_for('authors.author', author_id=content.created_by.username)}}"
      property="cc:attributionName" rel="cc:attributionURL">"{{ content.created_by.display_name }}"</a> is licensed under
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons -
      Attribution Non Commercial No Derivatives 4.0 Internacional</a>.

  {% else %}
    <a xmlns:dct="http://purl.org/dc/terms/" property="dct:title"
  href="{{content.get_absolute_url()}}">"{{ content.title }}"</a> by <a
  xmlns:cc="{{content.license.link}}s#" href=""
  property="cc:attributionName" rel="cc:attributionURL">"{{ content.created_by.display_name }}"</a> is licensed under
  <a rel="license" href="{{content.license.link}}">{{content.license.title}}</a>
  {% endif %}
{% endif %}
{% endmacro %}


{% macro render_recommend_item(content) %}
    <li class="post-header">
      <a class="post-title-small" href="{{ content.get_absolute_url() }}">{{ content.title }}</a>
            <small>
                in <a href="{{ content.channel.get_absolute_url() }}">{{ content.channel.title }}</a> &middot; {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}
            </small>

    </li>
{% endmacro %}


{% macro load_recommendation_area(content) %}

{% with %}
    {% set recommendations=content.get_recommendations()%}
    {% if recommendations %}
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4 class="mdl-cell mdl-cell--12-col">You may also like</h4>
            {% for item in recommendations %}
            <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
            </div>
            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5><a href="{{ item.get_absolute_url() }}">{{ item.title }}</a></h5>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endwith %}

{% endmacro %}

{% macro load_comment_area(content) %}
    {% if content.comments_enabled %}
            <hr />
            <p class="post-meta">
                // Comment
            </p>
        {% if Config.get('comments', 'system') == 'internal' %}
            <div id="comment-area" data-system="internal" data-path="{{url_for('comments.comment', path=content.long_slug)}}"></div>
        {% elif Config.get('comments', 'system') == 'custom'%}
            {{Config.get('comments', 'custom_script', '')|safe()}}
        {% elif Config.get('comments', 'system') == 'disqus'%}
           {%if Config.get('comments', 'disqus_script') %}
               {{Config.get('comments', 'disqus_script', '')|safe()}}
           {% else %}
               {% include theme('disqus.html') %}
           {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro load_page_header(content, link=False) %}
    <div class="page-header">
      {% if link %}
      <h1><a href="{{ content.get_absolute_url() }}">
            {{ content.title }}
        </a></h1>
      {% else %}
      <h1>{{ content.title }}</h1>
      {% endif %}
    </div>
{% endmacro %}

{% macro load_page_time(content) %}
    {%if content.created_by %}
        {{ content.created_by.name }}
    {%else%}
        {{Config.get('site', 'site_author', '')}}
    {%endif%} at {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }}
{% endmacro %}


{% macro load_breadcrumbs() %}
{% if channel %}
   <small class="breadcrumb">
      {%for crumb in channel.get_ancestors()|reverse %}
          {% if loop.last and not content %}
          > <span class="active">{{crumb.title}}</span>
          {% else %}
          > <span><a href="{{crumb.get_absolute_url()}}">{{crumb.title}}</a></span>
          {% endif %}
      {% endfor %}
   </small>
{% endif %}
{% endmacro %}


{% macro load_page_content(content, truncate=None, link_in_title=False, breadcrumbs=True, license=True, share=True, rec=True, comments=True, footer=True, container_css="") %}
<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    {{ get_title(content) }}
    <!-- tags
    <p class="post-meta">
        // Tags {% for tag in content.tags %}
            <a class="post-category" href="{{url_for('tag', tag=tag)}}">{{ tag }}</a>
        {% endfor %}
    </p>
    -->
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
        <div class="minilogo"></div>
        <div>
            <strong>
            {% for author in content.get_authors()|sort(attribute="display_name")%}
            {{ author.display_name }}{% if not loop.last%}&middot;{% endif %}
            {% endfor %}
            </strong>
            <span>{{ content.created_at.strftime('%m/%d/%Y') }}</span>
        </div>
        <div class="section-spacer"></div>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
        {{ content.get_text()|safe() }}
        <div class="mdl-card__actions">
            {%if share %}
                {{load_share_area(content)}}
            {% endif %}
            <br/>
            <br/>
            {% if license %}
                {{render_license_area(content)}}
            {% endif %}

            {%if rec%}
                {{load_recommendation_area(content)}}
            {% endif %}
        </div>
    </div>

    {% if comments %}
    <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
        <!-- disqus TODO -->
    </div>
    {% endif %}
</div>
{% endmacro %}

{# blog list#}

{% macro render_blog(contents) %}
   {% for content in contents %}
       {{load_page_content(content, truncate=2000, sidebar=False, link_in_title=True, breadcrumbs=False, license=False, share=False, rec=False, comments=False, footer=False, container_css="pure-blog")}}
       <div style='margin-bottom:35px;' class='pure-blog-div'>
       <a href="{{content.get_absolute_url()}}" class="pure-button pure-button-primary button-small" style="float:right;">read more...</a>
       </div>
   {% endfor %}
{% endmacro %}


{# --------- pagination ----------- #}

{% macro render_pagination(pagination, endpoint) %}
<div class="pagination-wrapper content-subhead">
    {% if pagination.pages > 1 %}
    <div class="pagination">
        <div class="pagination-left">
            {% if pagination.has_prev %}
                {% if not request.args.get('per_page') %}
                <a href="{{ '{}?page={}'.format(endpoint, pagination.prev_num) }}"><span>&larr; PREVIOUS</span></a>
                {% else %}
                  <a href="{{ '{}?page={}&per_page={}'.format(endpoint, pagination.prev_num, request.args.get('per_page')) }}"><span>&larr; PREVIOUS</span></a>
                {% endif %}
            {% else %}
                &nbsp;
            {% endif %}

        </div>
        <span>PAGE {{ pagination.page }} / {{ pagination.pages }}</span>
        <div class="pagination-right">
            {% if pagination.has_next %}
                {% if not request.args.get('per_page') %}
                <a href="{{ '{}?page={}'.format(endpoint, pagination.next_num) }}">NEXT&nbsp;&rarr;</a>
                {% else %}
                  <a href="{{ '{}?page={}&per_page={}'.format(endpoint, pagination.next_num, request.args.get('per_page')) }}">NEXT&nbsp;&rarr;</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}

{% endmacro %}
